ic {
    font-family: monospace;
    background-color: #3a4249;
    display: inline-block;
    border-radius: 0.2em;
}

hl {
    background-color: #98c3793f;
    /* color: #66cc00; */
}

del {
    background: #e06c7680;
    text-decoration: line-through;
}

pre {
    background-color: #3a4249;
    margin-top: 1em !important; 
    max-height: 50em;
}

nav {
    position: fixed;
    bottom: 0;
    width: 100%;
}

.tocke {
    padding: 3px;
    padding-left: 5px;
    padding-right: 5px;
    border: 0;
    border-radius: 6px;
    color: #98c379;
    background-color: #264d00;
    font-weight: bold;
} 

.wrap {
    white-space: pre-wrap;      
    white-space: -moz-pre-wrap; 
    white-space: -pre-wrap;     
    white-space: -o-pre-wrap;   
    word-wrap: break-word;       
}

a {
    text-decoration: underline;
}
nav > a {
    text-decoration: none;
}

tr:nth-child(even){
    background-color: #32383e;
}

textarea {
    color: #d7dfee !important;
    background: #32383e !important;
    border: 1px solid #202030 !important;
}

body {
    color: #d7dfee;
}

hr {
    border-color: #32383e;
    border-width: 0.2em;
}
